<div class="sidebar bg-side p-5">
    <div class="sidebar-body">
        <div class="card border-0 bg-transparent">
            <div class="d-flex justify-content-center flex-column align-items-center pt-5 mb-5">
                <img class="card-img-top border border-2 border-success ce-pointer p-1 wp-45 rounded-circle mb-3"
                (click)="openViewCv()"
                    src="assets/img/avatar.png" alt="Foto Formal">
                <div class="w-100">
                    <h4 class="fw-500 m-0 pt-1 pe-2 lh-2 mb-3 ta-center text-dark">Gamaliel Abanto</h4>
                    <div class="d-flex bg-red-100 justify-content-center p-2 rounded-3 mb-3">
                        <span class="text-success fs-14 ta-center fw-bold ce-pointer"  (click)="openViewCv()">Desarrollador de
                            softare</span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary d-lg-none">
                            <i class="bi bi-cloud-arrow-down-fill me-1"></i>Descargar CV
                        </button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="d-flex mb-4">
                    <div class="me-3">
                        <img src="assets/img/adress.svg" alt="" width="40">
                    </div>
                    <div class="d-flex flex-column lh-sm">
                        <span class="fw-500 text-dark-400">Dirección</span>
                        <span class="text-muted fw-500 fs-14">Jr. Las Ortigas N° 1919 San Juan de
                            Lurigancho</span>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="me-3">
                        <img src="assets/img/whatsapp.svg" alt="" width="40">
                    </div>
                    <div class="d-flex flex-column text-decoration-none lh-sm">
                        <span class="fw-500 text-dark-400">Teléfono</span>
                        <a class="text-muted fw-500 fs-14" target="_blank" href="http://bit.ly/3cnQDXA">+51 918536048</a>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="me-3">
                        <img src="assets/img/email.svg" alt="" width="40">
                    </div>
                    <div class="d-flex flex-column lh-sm">
                        <span class="fw-500 text-dark-400">Email</span>
                        <a href="https://mail.google.com/mail/u/0/?tab=km&pli=1#inbox" target="_blank"  class="text-muted fw-500 fs-14">gamaliel.aq96@gmail.com</a>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="me-3">
                        <img src="assets/img/github.svg" alt="" width="40">
                    </div>
                    <div class="d-flex flex-column lh-sm">
                        <span class="fw-500 text-dark-400">Git Hub</span>
                        <a href="http://bit.ly/2Ye2HTa" target="_blank"  class="text-muted fw-500 fs-14 ce-pointer">http://bit.ly/2tsEVqH</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>