<header class="header m-0 mt-lg-4 mb-lg-4 mb-lg-0 ">
    <div class="header-content container align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <ul class="breadcrumb td-none fw-bold p-0 m-0 fs-14">
                <li class="breadcrumb-item">
                    <a class="text-muted td-none ce-pointer" (click)="redirectTo('')">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-muted td-none ce-pointer" (click)="redirectTo('/portafolio')">My portafolio</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <form [formGroup]="form">
                <mat-form-field class="me-4" appearance="fill">
                    <span matPrefix>
                        <img [src]="urlLanguage" width="30">
                    </span>
                    <mat-select formControlName="language">
                        <mat-option *ngFor="let item of languages" [value]="item.value">
                            <div class="d-flex">

                                <img class="me-1" [src]="item.imgPais" alt="Peru" width="30">
                                {{item.viewValue}}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <label class="switch me-2" for="checkbox">
                <input type="checkbox" [(ngModel)]="switch" (change)="changeTheme()" id="checkbox" />
                <div class="slider round">
                    <div class="low">
                        <i class="bi bi-brightness-low-fill on"></i>
                        <i class="bi bi-brightness-low off"></i>
                    </div>
                </div>
            </label>
        </div>
    </div>
</header>