.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    @media screen and(min-width: 768px) {
        position: relative;
        margin-left: -85px;
        // left: 0;
        top: 15px;
        float: left;
        width: 72px;    
    }
}
.header { 
    border-radius: 0.3rem;
    background: #31313a;
}
.header ul li.item {
    text-align: center;
    padding: 0.9rem 0.7rem;
    color: #fff;
}

.header ul li.item:hover { 
    cursor: pointer;
    color: #fff250;
    transition: 0.5s;
}

.header ul li.item:not(:last-child) { 
    @media screen and(min-width: 768px) { 
        border-bottom: 0.5px solid #72727266;
    }
}
.header ul li p{ 
    margin: 0;
    font-size: 11px;
}

.breadcrumb {
    display: flex !important;
}