.header {
    margin-right: 8px;
    position: relative;
    left: 0;
    top: 15px;
    float: left;
    width: 72px;
}
.header { 
    border-radius: 0.3rem;
    background: #31313a;
}
.header ul li.item {
    text-align: center;
    padding: 0.9rem 0.7rem;
    color: #fff;
}

.header ul li.item:hover { 
    cursor: pointer;
    color: #fff250;
    transition: 0.5s;
}

.header ul li.item:not(:last-child) { 
    border-bottom: 0.5px solid #72727266;
}
.header ul li p{ 
    margin: 0;
    font-size: 11px;
}