.header {
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    // @media screen and (max-width: 999px) {
    //     position: fixed;
    //     width: 100%;
    //     height: 70px;
    //     z-index: 2;
    //     -webkit-box-shadow: -1px 12px 11px 2px rgba(0,0,0,0.49); 
    //     box-shadow: -1px 12px 11px 2px #383636;
    //     border-bottom: 1px solid #696262;
    // }

    &-content {
        width: 95%;
        margin: auto;
        align-items: center;
        display: flex;
    }
}

.mat-form-field-label {
    display: none !important;
}


.header-effect {
   box-shadow: 0 -1px 4px rgb(0 0 0 / 18%);
}