.page {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #26262d;

    @media screen and(min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    @media screen and(min-width: 992px) {
        align-items: center;
    }
}

.header-mobile {
    @media screen and(min-width: 768px) {
        display: none;
    }
}

.header-deskop {
    @media screen and(max-width: 767px) {
        display: none;
    }
}

.container.mobile {
    margin: 0;
    @media screen and(min-width: 992px) and(max-width: 1199px) {
        padding:0 38px 0 121px !important;
    }
}
.container {
    margin: 8vh 6vw;
    position: relative;
    @media screen and(max-width: 992px) {
        top: 85px;
    }
    left: 0;
    width: 100%;
    height: 84vh;
    max-width: 1268px;
    max-height: 674px;
}



.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-inner {
    @media screen and(max-width: 992px) { 
        position: initial !important;
        overflow: initial !important;
    }
    background: #31313a;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 492px;
    right: 0;
    top: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    -webkit-border-radius: 0 4px 4px 0;
}

.card-inner .card-wrap {
    padding: 2rem;
    height: 100%;
    @media screen and(min-width: 770px) { 
        overflow: auto;
        overflow-x: hidden;
    }
}

.card-inner.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.card-inner.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}


.wrap-md {
    @media screen and(max-width: 992px) { 
        display: none;
    }
}

.wrap-mobile {
    @media screen and(min-width: 992px) { 
        display: none;
    }
}

