<div class="card-wrap mb-5">
    <div class="mx-3">
        <app-aboutme></app-aboutme> <br>
        <app-works></app-works> <br>
        <div class="row mx-2">
            <div class="col-12 col-md-6  br-white mb-5">
                <app-experience></app-experience>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <app-educacion></app-educacion>
            </div>
            <hr class="divider">
            <div class="col-12 mb-5">
                <app-skills></app-skills>
            </div>
            <hr class="divider">
            <div class="col-12 mb-5">
                <app-laguages></app-laguages>
            </div>
        </div>
    </div>
</div>