<h5 class="yellow fw-bold">Trabajos Recientes</h5>
<hr class="divider" />

<div class="row row-cols-2 works">
    <div class="col px-4 br-white br-white hvr-shutter-out-horizontal">
        <div class="">
            <img class="mb-3" src="assets/img/ginas.png" alt="" />
            <h6 class="work-title text-center">
                Gestión de Incidencias y Administración
            </h6>
        </div>
        <div class="gst-content-sweep">
            Contente swwp
        </div>
    </div>
    <div class="col px-4">
        <img class="w-100" src="../../../assets/img/ginas.png" alt="" />
    </div>
</div>