<h5 class="yellow fw-bold">Trabajos Recientes</h5>
<hr class="divider" />

<div class="row row-cols-2 works">
    <div class="col br-white br-white">
        <div class="d-flex flex-column justify-content-center align-items-center hvr-shutter-out-horizontal p-4 mb-3">
            <img class="hvr-grow-shadow" src="assets/img/ginas.png" alt="" />
            <div class="flex-column d-flex justify-content-center align-items-center content-sweep p-4">
                <p class="fz-11 text-center">
                    Sistema para la mejora de requerimientos y mejoras en la mesa de ayuda.
                </p>
                <mat-icon aria-hidden="false" aria-label="Example home icon">play_circle</mat-icon>
            </div>
        </div>
        <h6 class="work-title text-center px-3">
            Gestión de Incidencias y Administración
        </h6>
    </div>
    <div class="col br-white br-white">
        <div class="d-flex flex-column justify-content-center align-items-center hvr-shutter-out-horizontal p-4 mb-3">
            <img class="" src="assets/img/ginas.png" alt="" />
            <div class="flex-column d-flex justify-content-center align-items-center content-sweep p-4">
                <p class="fz-11 text-center">
                    Sistema para la mejora de requerimientos y mejoras en la mesa de ayuda.
                </p>
                <mat-icon aria-hidden="false" aria-label="Example home icon">play_circle</mat-icon>
            </div>
        </div>
    </div>
</div>