<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12 mb-4 d-lg-block">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col col-lg-8 mb-4">
            <div class="col col-lg-12">
                <app-services></app-services>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            <app-experience></app-experience>
        </div>
        <div class="col-12 col-lg-12">
            <app-skills></app-skills>
        </div>
    </div>
</div>