<div class="timeline mt-3">
    <div class="timeline-item align-items-start pb-1">
        <div class="timeline-badge">
            <i class="fa fa-genderless text-gray-200 fs-1"></i>
        </div>
        <div class="timeline-content">
            <span class="fw-bold text-gray-800 ps-3 pe-3">Front end developer,
                <span class="text-success fsx-11">06/2020 – 12/2020</span>
            </span>
            <div class="symbol symbol-35px bg-light-primary mt-n3 me-2 align-self-center">
                <span class="text-primary fw-bold ps-3 me-2">SIGCOMT</span>
                <!-- <span class="symbol-label bg-light align-items-end">
                    <img class="mh-25px" src="assets/img/sigcomt.svg" alt="Logo">
                </span> -->
                <span class="fst-italic fsx-12 fw-bold text-secondary">- San Isidro Lima Perú</span>
            </div>
            <div class="fw-normal fs-7 timeline-content text-gray-600 text-justify ps-3">
                Trabajé en el área de diseño desempeñando el cargo de
                maquetador web. Mi trabajo era maquetar, diseñar la parte visual
                de diferentes proyectos (aplicaciones nuevas) según los
                requerimientos cliente
            </div>
        </div>
    </div>
    <div class="timeline-item align-items-start pb-1">
        <div class="timeline-badge">
            <i class="fa fa-genderless text-gray-200 fs-1"></i>
        </div>
        <div class="timeline-content">
            <span class="fw-bold text-gray-800 ps-3 pe-3">Front end developer,
                <span class="text-success fsx-11">06/2020 – 12/2020</span>
            </span>
            <div class="symbol symbol-35px bg-light-primary mt-n3 me-2 align-self-center">
                <span class="text-primary fw-bold ps-3 me-2">SIGCOMT</span>
                <!-- <span class="symbol-label bg-light align-items-end">
                    <img class="mh-25px" src="assets/img/sigcomt.svg" alt="Logo">
                </span> -->
                <span class="fst-italic fsx-12 fw-bold text-secondary">- San Isidro Lima Perú</span>
            </div>
            <div class="fw-normal fs-7 timeline-content text-gray-600 ps-3">
                Trabajé en el área de diseño desempeñando el cargo de
                maquetador web. Mi trabajo era maquetar, diseñar la parte visual
                de diferentes proyectos (aplicaciones nuevas) según los
                requerimientos cliente
            </div>
        </div>
    </div>
    <div class="timeline-item align-items-start pb-1">
        <div class="timeline-badge">
            <i class="fa fa-genderless text-gray-200 fs-1"></i>
        </div>
        <div class="timeline-content">
            <span class="fw-bold text-gray-800 ps-3 pe-3">Front end developer,
                <span class="text-success fsx-11">02/2018 – 12/2019</span>
            </span>
            <div class="symbol symbol-35px bg-light-primary mt-n3 me-2 align-self-center">
                <span class="text-primary fw-bold ps-3 me-2">GPI</span>
                <!-- <span class="symbol-label bg-light align-items-end">
                    <img class="mh-25px" src="assets/img/sigcomt.svg" alt="Logo">
                </span> -->
                <span class="fst-italic fsx-12 fw-bold text-secondary">- Trento Italia</span>
            </div>
            <div class="fw-normal fs-7 timeline-content d-flex flex-column text-gray-600 ps-3">
                <span>
                    <i class="bi bi-x-diamond-fill "></i>
                    Trabajé en el desarrollo y maquetación, de una aplicación restfull, proyecto SISTER.
                </span>
                <span>
                    <i class="bi bi-x-diamond-fill"></i>
                    Diseñe componentes con tecnología angular, css y sass.
                </span>
                <span>
                    <i class="bi bi-x-diamond-fill"></i>
                    Trabajé creando formularios para recopilar información. Dicha
                    implementación requería hacer llamadas a otros aplicativos y
                    retornar datos que el cliente quería ver, este logro lo hice utilizando
                    javascript, Ajax, y jquery.
                </span>
                <span>
                    <i class="bi bi-x-diamond-fill"></i>
                    Diseñe componentes con tecnología angular, css y sass.
                </span>

                <span>
                    <i class="bi bi-x-diamond-fill"></i>
                    Hice mantenimiento de un aplicativo web, modifique el aspecto
                    visual agregando efectos y dinamismo, con JavaScript, rediseñe el
                    formulario de login y como resultado fue la satisfacción final del
                    cliente.
                </span>
                <span>
                    <i class="bi bi-x-diamond-fill"></i>
                    Fui punto de referencia corporativo y soporte para la gestión y
                    creación de informes.
                </span>
            </div>
        </div>
    </div>
</div>