<div class="">
    <h3 class="mb-4 fw-bold aboutme">Sobre Mi</h3>
    <p class="descripcion">
        He descubierto mi pasión por el desarrollo de software, con tecnologías como javascript, typescript Node.js y frameworks
        como Angular, React, y NestJS, tambien hago desarrollos en Java con Spring Boot, En los últimos 4 años me
        dediqué como analista programador de software, realizando tareas de integración y desarrollo de servicios, análisis y diseño de flujo datos,
        creación de componentes, diseño de interfaces Etc..
        Actualmente estoy trabajando como Front End Developer con Angular.
    </p>
    <!-- <button  type="button" class="btn btn-primary white" (click)="download()">Descargar CV 
        <i class="bi bi-cloud-arrow-down-fill"></i>
    </button> -->
</div>
<!-- <div id="skills" class="pt-5"></div> -->

