<div class="d-flex justify-content-center">
    <div class="content-foto d-flex">
        <img class="foto" src="../../../assets/img/foto.jpg" alt="">
        <div class="ms-5">
            <h3 class="mb-4 fw-bold">Sobre Mi</h3>
            <p class="descripcion">
                Apasionado por desarrollo Web; en los últimos 4 años me dedique como analista programador y maquetación web, integración de servicios, análisis y diseño de flujo datos, creación de componentes, diseño de interfaces Etc.. comprendiendo siempre las necesidades del usuario.
            </p>
            <button  type="button" class="btn btn-primary white" (click)="download()">Descargar CV 
                <i class="bi bi-cloud-arrow-down-fill"></i>
            </button>
        </div>
    </div>
</div>
<div id="skills" class="pt-5"></div>