<h1 class="text-center mb-4">Sobre Mi</h1>
<div class="d-flex justify-content-center">
    <div class="content-foto d-flex">
        <img class="foto" src="../../../assets/img/avatar.png" alt="">

        <div class="ms-5">
            <p>
                Programador Front End con de 4 años de experiencia en el
                desarrollo de aplicaciones web con Angular, conocimientos en
                JavaScript, Type Script. Entusiasta, responsable, trabajo en equipo y
                comprometido a lograr los objetivos del mismo.
            </p>
        </div>
    </div>

</div>