.main-container {    
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    
    .app-header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .sidenav-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        
        .sidenav-content {
            height: 100%;
            display: flex;

            .main {
                margin-right: auto;
                width: 100%;
            }
        }

        .sidenav {
            width: 280px;
            position: fixed;
        }
    }
  }
  .main-fluid {
    margin-left: 0px !important;
  }
  @media screen and (min-width: 999px ) {
    .main {
        margin-left: 400px;
    }
  }
  @media screen and (max-width: 999px ) {
    .main-content{
        margin-top: 80px;
    }
  }
