<footer>
     <div class="footer p-4">
          <div class="container">
               <div class="row">
                    <div class="col">
                         <h2>Gamaliel Abanto Quiroz</h2>
                         <h6>Programador de Software</h6>
                    </div>
                    <div class="col">
                         sss
                    </div>
                    <div class="col">
                         <button mat-icon-button class="me-3">
                              <i class="bi bi-instagram"></i>
                         </button>

                         <button mat-icon-button class="me-3">
                              <i class="bi bi-linkedin"></i>
                         </button>

                         <button mat-icon-button class="me-3">
                              <i class="bi bi-facebook"></i>
                         </button>
                    </div>
               </div>
          </div>
     </div>
</footer>