<footer>
     <div class="footer container d-flex justify-content-center align-items-center  p-4">
          <div class="d-flex justify-content-center  flex-column">
               <div>
                    <ul class="menu">
                         <li class="item">
                              <a href="#home">Inicio</a>
                         </li>
                         <li class="item">
                             <a href="http://"> Sobre mí</a>
                         </li>

                         <li class="item">
                              <a href="http://">Habilidades</a>
                         </li>

                         <li class="item">
                              <a href="http://">Experiencia</a>
                         </li>

                         <li class="item">
                              <a href="http://">Servicios</a>
                         </li>
                         
                         <li class="item">
                              <a href="http://">Portafolio</a>
                         </li>
                    </ul>
               </div>

               <div class="mb-3">
                    <h4 class="text-center name">Gamaliel Humberto Abanto Quiroz</h4>
               </div>
               <div class="mb-2">
                    <p class="text-center text-muted d-flex align-items-center justify-content-center">
                         <i class="bi bi-envelope me-2"></i>
                         <span class="fz-12">gamaliel.aq96@gmail.com</span>
                    </p>
               </div>
               <div class="text-center">
                    <button mat-icon-button class="me-3">
                         <i class="bi bi-whatsapp"></i>
                    </button>

                    <button mat-icon-button class="me-3">
                         <i class="bi bi-linkedin"></i>
                    </button>

                    <button mat-icon-button class="me-3">
                         <i class="bi bi-facebook"></i>
                    </button>
               </div>
          </div>
     </div>
</footer>