.example-container {
    width: 100%;
    height: 100vh;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    width: max(300px, ((100vw - 910px) / 2) - 0px);
    display: flex;
    justify-content: flex-end;
}

.mat-drawer {
    background: #f5f7f9;
}

.drawer {
    width: 300px;
}