<div class="card border-0">
    <div class="card-body">
        <h5 class="card-title text-success mb-3">Mis Servicios</h5>
        <div class="row">
            <div class="col col-lg-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollo Web</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Frontend</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Diseño Web</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Maquetación Web</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Web Development</h6>
                    </div>
                </div>
            </div>
            <div class="col col-lg-12 mb-3">
                <div class="d-flex justify-content-center">
                    <img src="assets/img/programador.svg" width="280px" alt="">
                </div>
            </div>
        </div>

    </div>
</div>