<div class="d-flex justify-content-center">
    <div class="me-4">
        <h1>Hola, Soy Gamaliel</h1>
        <h5 class="text-muted">Front End Developer</h5>
        <a class="text-primary cv-text" href="http://">Ver Curriculum</a>

        <p>
            Programador Front End con de 4 años de experiencia en el desarrollo de aplicaciones web con Angular, conocimientos en JavaScript, Type Script. Entusiasta, responsable, trabajo en equipo y comprometido a lograr los objetivos del mismo
        </p>
    </div>
    <img class="perfil" src="assets/img/perfil.png" alt="">
</div>