<div class="row">
    <div class="col">
        <h1>Hola, Soy Ganmaliel</h1>
        <h5 class="text-muted">Front End Developer</h5>
        <a class="text-primary cv-text" href="http://">Ver Curriculum</a>
        <br> <br><br>
        <div class="d-flex">
            
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-whatsapp me-4"></i>
            </a>

            <a target="_blanck" href="https://www.linkedin.com/in/gamalielaq/">
                <i class="bi bi-linkedin me-4"></i>
            </a>

            <a href="http://" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            
        </div>
        <br><br>
        <div>
            <button type="button" class="btn btn-primary white">Ver mi trabajo</button>
        </div>
    </div>

    <div class="col d-flex justify-content-end">
        <img class="perfil" src="assets/img/perfil.png" alt="">
    </div>
</div>

<br><br><br><br>
<div class="row justify-content-lg-start justify-content-center" id="aboutme">
    <div class="col-lg-3 col-md-3">
        <div class="card-work">
            <h3>12k+</h3>
            <p class="m-0">tikets resueltos</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="card-work">
            <h3>12k+</h3>
            <p class="m-0">tikets resueltos</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="card-work">
            <h3>12k+</h3>
            <p class="m-0">tikets resueltos</p>
        </div>
    </div>
</div>