<div class="card-started">
    <div class="profile no-photo">
        <div class="slide"></div>
        <div class="title">
            <h3 class="">Gamaliel Abanto Quiroz</h3>
            <h6 class="text-cargo">Full Stack Developer</h6>

            <div class="text-center social">
                <i class="bi bi-whatsapp me-3"></i>
                <i class="bi bi-github me-3"></i>
                <i class="bi bi-linkedin me-3"></i>
                <i class="bi bi-facebook me-3"></i>
                <i class="bi bi-instagram"></i>

            </div>
        </div>

        <div class="links">
            <a class="link d-flex align-items-center justify-content-center" href="http://">
                <span class="me-2">Descargar cv</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">cloud_download</mat-icon>

            </a>
            <a class="link d-flex align-items-center justify-content-center" href="http://">
                <span class="me-2">Contáctame</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">sms</mat-icon>
            </a>
        </div>
    </div>

</div>