<div class="timeline mt-3">
    <div class="timeline-item align-items-start pb-1" *ngFor="let item of data">
        <div class="timeline-badge">
            <i class="fa fa-genderless text-gray-200 fs-1"></i>
        </div>
        <div class="timeline-content ps-2">
            <span class="fw-bold text-cargo pe-3">{{item.cargo}},
                <span class="text-date fsx-11">{{item.startDate}} – {{item.endDate}}</span>
            </span>
            <div class="symbol symbol-35px bg-light-primary mt-n3 me-2 align-self-center">
                <span class="text-empresa fw-bold me-2">{{item.empresa}}</span>
                <span class="fst-italic fsx-12 fw-bold text-direccion">- {{item.direccion}}</span>
            </div>
        </div>
    </div>
</div>