.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-expansion-panel {
    background: transparent;
}

.mat-expansion-panel-header.mat-expanded {
    height: 42px;
}

.mat-expansion-panel-header.mat-expanded:hover {
    background: #e9e9e985;
}

ul {
    padding: 0;
    margin-left: 0.5rem;
    border-left: 1px solid #969696;
}

ul li {
    list-style: none;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
}

ul li:hover {
    background: #e9e9e985;
    transition: 0.5s;
}

ul li:hover span {
    color: red;
    transition: 0.5s;
}

ul li span {}